Repository zero5ive/Tabletopia, pull requests merged in 2025-09, with the labels that each got.

#5 TETO-8 Frontend : 컴포넌트 분리 및 기초 개발환경 작업
  frontend/admin/eslint.config.js
  frontend/admin/package-lock.json
  frontend/admin/package.json
  frontend/admin/src/App.css
  frontend/admin/src/App.jsx
  frontend/admin/src/components/MainContent.css
  frontend/admin/src/components/MainContent.jsx
  frontend/admin/src/components/Sidebar.css
  frontend/admin/src/components/Sidebar.jsx
  frontend/admin/src/index.css
  frontend/admin/src/main.jsx
  frontend/admin/vite.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/user/eslint.config.js
  frontend/user/index.html
  frontend/user/package-lock.json
  frontend/user/package.json
  frontend/user/src/App.jsx
  frontend/user/src/index.css
  frontend/user/src/main.jsx
  frontend/user/src/pages/mainpage/MainPage.jsx
  frontend/user/src/pages/mainpage/MainPage.module.css
  frontend/user/src/pages/mypage/MyPage.css
  frontend/user/src/pages/mypage/MyPage.jsx
  frontend/user/src/pages/mypage/MyPage.module.css
  frontend/user/vite.config.js
Labels: 🎨Frontend, ⚙️ Setting

#14 TETO-29 Backend: 베이스 코드 작성
  backend/user-service/.gitattributes
  backend/user-service/.gitignore
  backend/user-service/build.gradle
  backend/user-service/gradle/wrapper/gradle-wrapper.jar
  backend/user-service/gradle/wrapper/gradle-wrapper.properties
  backend/user-service/gradlew
  backend/user-service/gradlew.bat
  backend/user-service/settings.gradle
  backend/user-service/src/main/java/com/tabletopia/userservice/UserServiceApplication.java
  backend/user-service/src/main/java/com/tabletopia/userservice/auth/oauth/NaverApi20.java
  backend/user-service/src/main/java/com/tabletopia/userservice/config/OAuthConfig.java
  backend/user-service/src/main/java/com/tabletopia/userservice/config/SecurityConfig.java
  backend/user-service/src/main/java/com/tabletopia/userservice/config/WebConfig.java
  backend/user-service/src/main/java/com/tabletopia/userservice/domain/member/controller/MemberController.java
  backend/user-service/src/main/java/com/tabletopia/userservice/domain/member/dto/LoginRequest.java
  backend/user-service/src/main/java/com/tabletopia/userservice/domain/member/dto/SignUpRequest.java
  backend/user-service/src/main/java/com/tabletopia/userservice/domain/member/entity/Member.java
  backend/user-service/src/main/java/com/tabletopia/userservice/domain/member/repository/MemberRepository.java
  backend/user-service/src/main/java/com/tabletopia/userservice/domain/member/service/MemberService.java
  backend/user-service/src/main/java/com/tabletopia/userservice/domain/snsprovider/entity/SnsProvider.java
  backend/user-service/src/main/java/com/tabletopia/userservice/domain/snsprovider/repository/SnsProviderRepository.java
  backend/user-service/src/main/java/com/tabletopia/userservice/domain/snsprovider/service/SnsProviderService.java
  backend/user-service/src/main/java/com/tabletopia/userservice/dto/ApiResponse.java
  backend/user-service/src/main/java/com/tabletopia/userservice/dto/ErrorResponse.java
  backend/user-service/src/main/java/com/tabletopia/userservice/exception/GlobalExceptionHandler.java
  backend/user-service/src/main/java/com/tabletopia/userservice/exception/member/MemberAlreadyExistsException.java
  backend/user-service/src/main/java/com/tabletopia/userservice/exception/member/MemberNotFoundException.java
  backend/user-service/src/main/java/com/tabletopia/userservice/exception/snsprovider/SnsProviderNotFoundException.java
  backend/user-service/src/test/java/com/tabletopia/userservice/UserServiceApplicationTests.java
  frontend/user/src/App.jsx
  frontend/user/src/pages/loginpage/Login.jsx
  frontend/user/src/pages/mainpage/Main.jsx
  frontend/user/src/pages/signuppage/SignUp.jsx
  frontend/user/src/pages/signuppage/SignUpSuccess.jsx
  frontend/user/vite.config.js
Labels: ✨Feature, ⚙️ Setting

#17 TETO-46 Feature: 예약 내역 불러오기 구현
  backend/realtime-service/.gitattributes
  backend/realtime-service/.gitignore
  backend/realtime-service/build.gradle
  backend/realtime-service/gradle/wrapper/gradle-wrapper.jar
  backend/realtime-service/gradle/wrapper/gradle-wrapper.properties
  backend/realtime-service/gradlew
  backend/realtime-service/gradlew.bat
  backend/realtime-service/settings.gradle
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/RealtimeServiceApplication.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/config/SecurityConfig.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/config/WebConfig.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/reservation/controller/ReservationController.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/reservation/dto/AvailableTableResponse.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/reservation/dto/UnavailableTableResponse.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/reservation/entity/Reservation.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/reservation/enums/ReservationStatus.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/reservation/repository/ReservationRepository.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/reservation/service/ReservationService.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/tablerealtime/controller/TableRealTimeStateController.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/tablerealtime/entity/TableRealtimeState.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/tablerealtime/enums/SourceType.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/tablerealtime/enums/TableState.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/tablerealtime/exception/TableRealtimeStateNotFoundException.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/tablerealtime/repository/TableRealtimeStateRepository.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/tablerealtime/service/TableRealtimeStateService.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/dto/ApiResponse.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/dto/ErrorResponse.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/dto/RestaurantSnapshot.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/dto/TableSnapshot.java
  backend/realtime-service/src/test/java/com/tabletopia/realtimeservice/RealtimeServiceApplicationTests.java
  frontend/user/src/App.jsx
  frontend/user/src/pages/reservationpage/SelectTable.jsx
Labels: ✨Feature

#26 TETO-35 frontend : 레스토랑 메인 페이지 및 상세페이지 css모듈화
  backend/realtime-service/build.gradle
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/reservation/controller/ReservationController.java
  backend/user-service/build.gradle
  backend/user-service/src/main/java/com/tabletopia/userservice/auth/oauth/NaverApi20.java
  frontend/admin/package-lock.json
  frontend/admin/package.json
  frontend/user/src/pages/restaurant/RestaurantDetail.jsx
  frontend/user/src/pages/restaurant/RestaurantDetail.module.css
  frontend/user/src/pages/restaurant/RestaurantList.jsx
  frontend/user/src/pages/restaurant/RestaurantList.module.css
Labels: 🎨Frontend

#32 TETO-70 Feature: 요일별 운영시간/예약간격 조회
  backend/restaurant-service/src/main/java/com/tabletopia/restaurantservice/domain/controller/OpeningHourController.java
  backend/restaurant-service/src/main/java/com/tabletopia/restaurantservice/domain/controller/ReservationController.java
  backend/restaurant-service/src/main/java/com/tabletopia/restaurantservice/domain/controller/RestaurantTableController.java
  backend/restaurant-service/src/main/java/com/tabletopia/restaurantservice/domain/dto/OpeningHourResponse.java
  backend/restaurant-service/src/main/java/com/tabletopia/restaurantservice/domain/dto/RestaurantTableDTO.java
  backend/restaurant-service/src/main/java/com/tabletopia/restaurantservice/domain/dto/TimeSlotResponse.java
  backend/restaurant-service/src/main/java/com/tabletopia/restaurantservice/domain/entity/RestaurantOpeningHour.java
  backend/restaurant-service/src/main/java/com/tabletopia/restaurantservice/domain/repository/RestaurantOpeningHourRepository.java
  backend/restaurant-service/src/main/java/com/tabletopia/restaurantservice/domain/service/OpeningHourService.java
  backend/restaurant-service/src/main/java/com/tabletopia/restaurantservice/domain/service/ReservationService.java
  backend/restaurant-service/src/main/java/com/tabletopia/restaurantservice/domain/service/RestaurantTableService.java
Labels: ✨Feature

#34 Teto 53 웨이팅 등록
  backend/realtime-service/build.gradle
  frontend/admin/src/components/MainContent.css
  frontend/admin/src/components/MainContent.jsx
  frontend/admin/src/components/Sidebar.jsx
  frontend/admin/src/components/Waiting.css
  frontend/admin/src/components/tabs/WaitingTab.jsx
  frontend/user/src/pages/mainpage/Main.module.css
  frontend/user/src/pages/mainpage/advertisement/Advertisement.jsx
  frontend/user/src/pages/mainpage/foodcategory/FoodCategory.jsx
  frontend/user/src/pages/mainpage/newrestaurant/NewRestaurant.jsx
  frontend/user/src/pages/restaurant/RestaurantDetail.jsx
  frontend/user/src/pages/restaurant/RestaurantDetail.module.css
  frontend/user/src/pages/restaurant/RestaurantList.jsx
  frontend/user/src/pages/restaurant/RestaurantList.module.css
Labels: 🎨Frontend

#36 TETO-48 Feature: 테이블 예약 팝업 웹소켓 접속 구현
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/config/WebConfig.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/config/WebSocketConfig.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/reservation/controller/ReservationController.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/reservation/controller/WebSocketController.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/reservation/dto/AvailableTableResponse.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/reservation/dto/ConnectionMessage.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/reservation/dto/TableSelectionInfo.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/reservation/dto/TableStateMessage.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/reservation/dto/TableTimeSlotStatus.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/reservation/enums/TableSelectStatus.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/reservation/repository/ReservationRepository.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/domain/reservation/service/ReservationService.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/dto/OpeningHourResponse.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/dto/RestaurantOpeningHourDto.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/dto/RestaurantTableDto.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/dto/TimeSlotResponse.java
  backend/realtime-service/src/main/java/com/tabletopia/realtimeservice/feign/RestaurantServiceClient.java
  backend/user-service/src/main/java/com/tabletopia/userservice/config/WebConfig.java
  frontend/user/package-lock.json
  frontend/user/package.json
  frontend/user/src/hooks/useWebSocket.js
  frontend/user/src/pages/reservationpage/SelectTable.jsx
  frontend/user/vite.config.js
Labels: ✨Feature
